{% extends 'base/base.html' %}
{% block title %}主页{% endblock %}
{% load static %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block content %}
<h3>图表分析</h3>
<hr />
<div class="container-fluid">
    <div class="row">
<div class="col-md-6">
    <section class="row text-center placeholders">
        <div id="main" style="width: 500px;height: 350px;"></div>
        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('main'));
            var option = {
                backgroundColor: '#2c343c',

                title: {
                    text: '支付总金额',
                    left: 'center',
                    top: 20,
                    textStyle: {
                        color: '#ccc'
                    }
                },

                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },

                visualMap: {
                    show: false,
                    min: 80,
                    max: 600,
                    inRange: {
                        colorLightness: [0, 1]
                    }
                },
                series: [{
                    name: '支付总金额',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '50%'],
                    data: {{datas | safe}}.sort(function (a, b) {
                        return a.value - b.value;
                    }),
                    roseType: 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#c23531',
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },

                    animationType: 'scale',
                    animationEasing: 'elasticOut',
                    animationDelay: function (idx) {
                        return Math.random() * 200;
                    }
                }]
            };
            myChart.setOption(option);
        </script>
    </section>
</div>
<div class="col-md-6">
    <section class="row text-center placeholders">
        <div id="main2" style="width: 600px;height: 370px;"></div>
        <script type="text/javascript">
            var myChart2 = echarts.init(document.getElementById('main2'));
            var option2 = {
                title: {
                    text: '月消费统计',
                    left: 'center',
                    top: 20,
                    textStyle: {
                        color: '#000'
                    }
                },
                xAxis: {
                    type: 'category',
                    data: {{months | safe}}
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: {{pay_money | safe}},
                    type: 'line'
                }]
            };
            myChart2.setOption(option2);
        </script>
    </section>
</div>
</div>
</div>
<div class="container-fluid">
    <h3>所有记录</h3>
    <hr />
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>支付人</th>
                    <th>金额(元)</th>
                    <th>状态</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody>
                {% for Expense in contacts %}
                <tr>
                    <td>{{ Expense.pay_user }}</td>
                    <td><a href="/expenses/{{ Expense.id }}">{{ Expense.money }}</a></td>
                    <td>{{ Expense.get_pay_state_display }}</td>
                    <td>{{ Expense.date_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />
    <!-- /container -->
    <ul class="pagination">
        {% if contacts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ contacts.previous_page_number }}">上一页</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#">第{{ contacts.number }} 页,共 {{ contacts.paginator.num_pages}}页.</a></li>
        {% if contacts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ contacts.next_page_number }}">下一页</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}