{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
<div class="col-md-8 column">
    {% for text in HomeList %}
    <div class="col-md-4 column">
        <h3>
            <a href="/homelist/{{ text.id }}/">{{ text.home_name }}</a>
        </h3>
        创建者：<button type="button" class="btn btn-xs btn-info"">{{ text.create_user }}</button>|
        {% ifequal text.permission per %}
        状态：<button type="
            button" class="btn btn-xs btn-success">{{ text.get_permission_display }}</button>
        {% else %}
        状态：<button type="button" class="btn btn-xs btn-danger">{{ text.get_permission_display }}</button>
        {% endifequal %}
        <br />
        室友：{% for tag in text.roommates.all %}
        {{ tag.user_name }} |
        {% endfor %}
        <br />
        {% ifequal text.home_states status %}
        房间信息：<button type="button" class="btn btn-xs btn-warning">{{ text.get_home_states_display }}</button>
        {% else %}
        房间信息：<button type="button" class="btn btn-xs btn-success"">{{ text.get_home_states_display }}</button>
        {% endifequal %}
        <br />
        创建时间：{{ text.c_time }}
        <a class="
            btn" href="/homelist/{{ text.id }}/">进入房间 »</a>
    </div>
    {% endfor %}
</div>
<div class="col-md-4 column">
    <h3 class="text-center">热门房间</h3>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for text in hot_home %}
            <tr>
                <td>
                    <a href="/homelist/{{ text.id }}/">{{ text.home_name }}</a>
                </td>
                <td>
                    {{ text.c_time }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}