{% extends 'base/base.html' %}
{% block title %}搜索{% endblock %}
{% load static %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block content %}

<h3 class="text">{{ search_msg }}</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>支付人</th>
                <th>金额(元)</th>
                <th>状态</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for Expense in search_list %}
            {% ifequal Expense.pay_state paychiocse1 %}
            <tr>
                <td>{{ Expense.pay_user }}</td>
                <td><a href="/expenses/{{ Expense.id }}" >{{ Expense.money }}</a></td>
                <td>{{ Expense.get_pay_state_display }}</td>
                <td>{{ Expense.date_time }}</td>
                {% ifequal Expense.pay_user request.session.user_name %}
                <td><a class="btn btn-sm btn-success" href="/myexpense/{{ Expense.id }}" role="button">修改</a>
                    &nbsp; <a class="btn btn-sm btn-danger" href="/DeleteExpense/{{ Expense.id }}" role="button">删除</a></td>
                {% else %}
                <td>无操作权限</td>
                {% endifequal %}
            </tr>
            {% endifequal %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}